/** @format */

.fifth-page {
  background-color: #000;
}

.submit-btn,
.go-back-btn {
  color: #ffffff;
  border: none;
  cursor: pointer;
  display: block;
}

.submit-btn {
  background-color: #fe3b1f;
  padding: 10px 80px;
  border-radius: 100px;
  font-size: 25px;
}

.go-back-btn {
  background-color: green;
  padding: 5px;
  text-decoration: underline;
  font-size: 15px;
  margin: 30px auto 0;
}

.box {
  /* background-color: rgb(219, 130, 175); */
  margin: auto;
}
