/** @format */

p {
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 5%;
  line-height: 40px;
  font-family: "Montserrat", sans-serif;
}

.container-right {
  background-color: #454545;
  text-align: left;
}
