/** @format */

.container-right p {
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 40px;
  font-family: "Montserrat", sans-serif;
}

.container-right {
  background-color: #454545;
  text-align: left;
}

.paragraph-div {
  /* background-color: aqua; */
  margin: auto;
  height: 60%;
}
