/** @format */

ul {
  display: flex;
  list-style: none;
  justify-content: center;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

li {
  margin-right: 10px;
}

li:last-child {
  margin: 0;
}
