/** @format */

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Rowdies&display=swap");

h1,
p {
  font-weight: 400;
}

.main-container {
  display: none;
}

.active-main-container,
.starting-page-container {
  display: flex;
  height: 100vh;
}

.starting-page-container {
  background: url(../../public/images/stars.png);
}

.container {
  width: 50%;
  height: 100%;
  display: flex;
}

.container-middle {
  /* background-color: aqua; */
  margin: auto;
  height: 80%;
  width: 80%;
}

.first-last-pages {
  background-color: #000;
}

/* First and Last Page buttons style */

.orange-btn,
.white-underline-btn {
  color: #ffffff;
  border: none;
  cursor: pointer;
  display: block;
}

.orange-btn {
  background-color: #fe3b1f;
  padding: 20px 80px;
  border-radius: 100px;
  font-size: 20px;
  margin: auto;
}

.white-underline-btn {
  background-color: transparent;
  padding: 5px;
  text-decoration: underline;
  font-size: 15px;
  margin: 30px auto 0;
}

.box {
  /* background-color: rgb(219, 130, 175); */
  margin: auto;
}
