/** @format */

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Rowdies&display=swap");

h1,
p {
  font-weight: 400;
}

.main-container {
  display: none;
}

.active-main-container {
  display: flex;
  height: 100vh;
}

.container {
  width: 50%;
  height: 100%;
  display: flex;
}

.container-middle {
  background-color: aqua;
  margin: auto;
  height: 80%;
  width: 80%;
}
