/** @format */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Rowdies&display=swap");

/* Form Page 1 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
p {
  font-weight: 400;
}

h1 {
  margin-bottom: 50px;
  font-size: 50px;
  color: #fe3b1f;
  font-family: "Rowdies", cursive;
}

p {
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 5%;
  line-height: 40px;
  font-family: "Montserrat", sans-serif;
}

.section {
  display: flex;
  height: 100vh;
}

.section-div {
  width: 50%;
  height: 100%;
  padding: 60px 100px 20px 100px;
}

.left {
  text-align: right;
}

.left h1 {
}

.right {
  background-color: #454545;
  padding-right: 50px;
}

.right h1 {
  margin-bottom: 100px;
}

.form {
  margin: 0 100px;
}

.form input,
.form select,
.skill-bar {
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 50px;
  padding: 10px 30px;
  margin-bottom: 10px;
}

.input-div {
  margin-bottom: 30px;
}

.input-div:last-child {
  margin-bottom: 0;
}

/* This style is used when P is appended to input div */
.hidden {
  /* visibility: hidden; */
  color: red;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 0;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

.navigation {
  margin-top: 80px;
  color: #fe3b1f;
  text-align: center;
}

.navigation ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.navigation ul li {
  margin-right: 10px;
}

.navigation ul li div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fe3b1f;
  opacity: 0.1;
}

.navigation li:last-child {
  margin: 0;
}

.arrows,
.skill-bar-btn {
  border: solid 3px #fe3b1f;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.arrows span,
.skill-bar-btn span {
  bottom: 5px;
  position: relative;
}

/* Form Page 2 */

.form select {
  color: #757575;
  padding-right: 10px;
}

.form select option {
  color: #454545;
  padding-right: 20px;
}

.skills-btn {
  /* position: absolute; */
  color: #ffffff;
  background-color: #fe3b1f;
  padding: 10px 20px;
  border: none;
}

.skill-container {
  margin-top: 35px;
}

.skill-bar {
  border: solid 1px #777777;
  color: #777777;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill-bar-btn {
  color: #fe3b1f;
}

.skill-bar-btn span {
  bottom: 6px;
}
